$primary: #ff4757;
body {
	margin: 0;
	padding: 0;
	background: skyblue;
	display: flex;
	height: 100vh;
	font-family: 'sans serif';
	justify-content: center;
	align-items: center;
}

ul{
	display: flex;

	li {
		list-style: none;
		position: relative;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background: #000;
		color: #fff;
		font-size: 30px;
		transition: .5s;

		&:hover{
			color: $primary;
		}

		&:hover span{
			opacity: 1;
			visibility: visible;
			transform: translateX(-50%) translateY(0px);
		}
		span{
			position: absolute;
			width: 120px;
			top: -35px;
			left: 50%;
			transform: translateX(-50%) translateY(-30px);
			height: 24px;
			line-height: 24px;
			background: $primary;
			color: #fff;
			font-size: 14px;
			border-radius: 8px;
			transition: .5s ease ;
			opacity: 0;
			visibility: hidden;

			&::before{
				content: '';
				position:absolute;
				bottom: -8px;
				left: 50%;
				width: 10px;
				height: 10px;
				background: $primary;
				z-index: -1;
				transform: rotate(45deg) translateX(-50%);
			}
		}
	}
}