body{
	margin: 0;
	padding: 0;
	background: #262626;
	font-family: arial;
}

%h1class{
	margin: 0;
	padding: 20px 0;
	font-size: 3rem;
}

%pclass{
	font-size: 1 rem;
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
	width: 80%;
}

.skewedBox{
	background: #edff57;
	padding: 100px 0;
	transform: skew(0deg, -10deg) translateY(-120px);
}

.container{
	padding: 150px 200px;
	transform: skew(0deg, 10deg);

	h1{
		@extend %h1class;
	}

	p {
		@extend %pclass;
	}
}

.sec2{
	padding: 0 200px 150px;
	color: #fff;
	font-family: arial;
	text-align: right;

	h1{
		@extend %h1class;
	}

	p{
		@extend %pclass;
		width: 100%;
	}
}


