*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #240229;
	min-height: 100vh;
}

.loader{
	position: relative;
	width: 200px;
	height: 200px;
	border: 4px solid #240229;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: -5px -5px 5px rgba(255,255,255, .1),
							10px 10px 10px rgba(0,0,0, .4),
							inset -5px -5px 5px rgba(255,255,255, .2),
							inset 10px 10px 10px rgba(0,0,0, .4);

	&::before{
		content: '';
		position: absolute;
		top: 25px;
		left: 25px;
		z-index: 10;
		right: 25px;
		bottom: 25px;
		background: #240229;
		border: 2px solid #240229;
		border-radius: 50%;
		box-shadow: inset -2px -2px 5px rgba(255,255,255, .2),
							inset 3px 3px 5px rgba(0,0,0, .4);
	}

	span{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: linear-gradient(#14ffe9,#ffeb3b, #ff00e0);
		filter: blur(20px);
		z-index: -1;
		/* transition: .5s all; */
		animation: animate 0.5s linear infinite;	
	}

}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}