*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #222;
	min-height: 100vh;
}

.button {
	position: relative;
	display: inline-block;
	padding: 12px 36px;
	margin: 10px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	border-radius: 40px;
	overflow: hidden;
	background: linear-gradient(90deg, #0162c8, #55e7fc);

	&:nth-child(2){
		background: linear-gradient(90deg, #755bea, #ff72c0);
	}

	span{
		position: absolute;
		background: #fff;
		transform: translate(-50%, -50%);
		pointer-events: none;
		border-radius: 50%;
		animation: animate 1s linear infinite;
	}

	@keyframes animate {
		0%{
			width: 0px;
			height: 0px;
			opacity: .5
		}

		100%{
			width: 500px;
			height: 500px;
			opacity: 0;
		}
	}
}




