*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #240229;
	min-height: 100vh;
}

%size-box{
	width: 250px;
	height: 250px;
}

.container {
	position: relative;
	width: 1000px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	background:#fff;

	&:nth-child(even){
		flex-direction: column-reverse;
	}

	&__box-image{
		position: relative;
		@extend %size-box;
		background: #000;

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content{
		position: relative;
		@extend %size-box;
		display: flex;
		justify-content: center;
		align-items: center;

		div{
			padding: 20px;
			text-align: center;
		}

	}
}

@media(max-width: 1000px){
	.container{
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		margin: 50px;
	}	

	.card {
		flex-direction: row;
		margin: 10px 0;

		&:nth-child(even){
			flex-direction: row-reverse;
		}

		&__box-image,
		&__content{
			width: 50%;
		}
	}//./card >
}

@media(max-width: 600px)
{
	.card{
		flex-direction: column;

		&:nth-child(even){
			flex-direction: column;
		}

		&__box-image,
		&__content{
			width: 100%;
		}

		&__content{
			height: 200px;
		}
	}
}

