*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

}

ul{
	position: relative;
	display: flex;
	transform-style: preserve-3d;
	transform: rotate(-25deg) skew(25deg);

	li {
		position: relative;
		list-style: none;
		width: 60px;
		height: 60px;
		margin: 0 10px;

		&:before {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 0;
			width: 100%;
			height: 10px;
			background: #2a2a2a;
			transform-origin: top;
			transform: skewX(-41deg);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: -9px;
			width: 9px;
			height: 100%;
			background: #2a2a2a;
			transform-origin: right;
			transform: skewY(-41deg);
		}

		span{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex !important;
			justify-content: center;
			align-items: center;
			background: #333;
			color: rgba(255,255,255,0.2);
			font-size: 30px ;
			transition: .2s;
		}

		&:hover span{
			z-index: 1000;
			transition: .5s;
			color: #fff;
			box-shadow:  -1px 1px 1px rgba(0,0,0,0.05);
			
		}

		/* &:hover span:nth-child(5){
			transform: translate(40px, -40px);
			opacity: 1;
		}

		&:hover span:nth-child(4){
			transform: translate(30px, -30px);
			opacity: 1;
		}

		&:hover span:nth-child(3){
			transform: translate(20px, -20px);
			opacity: 1;
		}

		&:hover span:nth-child(2){
			transform: translate(10px, -10px);
			opacity: 1;
		}

		&:hover span:nth-child(1){
			transform: translate(0px, 0px);
			opacity: 1;
		} */

		@for $i from 1 through 5 {
			$cant : $i * 10 - 10;
			$opacity: $i  * 0.2;
	
			&:hover span:nth-child(#{$i}){
				transform: translate(#{$cant}px,-#{$cant}px);
				opacity: $opacity;
			}
		}


		$social-media : (
			facebook: #3b5999 ,
			instagram: #e4405f ,
			linkedin: #0077b5, 
			whatsapp: #25d366 ,
			twitter: #55acee
		);
		
		$count : 1;
		@each $media, $bg-color in $social-media {

			&:nth-child(#{$count}):hover span {
				background: $bg-color;
			}
			$count : $count + 1;
		}
	}
}