*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #222;
	min-height: 100vh;
}
.container{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.card {
		position: relative;
		height: 30rem;
		background: #fff;
		display: flex;
		width: 100%;
		margin: 30px 0;
	}
 
	@media(max-width: 768px){
		width: 1000px;
		justify-content: space-between;
		margin: 20px;

		.card {
			width: 45%;
			
			&:hover{
				.imgBx{
					width: 150px;
					height: 150px;
					left: -75px;
					/* top: calc(50% - 75px); */
					top: 50%;
					transform: translateY(-50%);
					transition: .5s ease-in-out;
					background: #ff0057;

					i{
						font-size: 3rem;
					}
				}
			}


			.imgBx{
				position: absolute;
				top: 0;
				left: 0;
				width:100%;
				height: 100%;
				background: #333;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				transition: .5s ease-in-out;

				&:before{
					content: attr(data-text);
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					font-size: 6rem;
					color: rgba(255,255,255,.05);
					font-weight: 700;
					text-transform: uppercase;
				}

					i{
						font-size: 8rem;
						color: #fff;
					}
			}

			.content {
				position: absolute;
				right: 0;
				width: calc(100% - 75px);
				height: 100%;
				padding: 20px;
				display: flex;
				justify-content: center;
				align-items: center;

				h3{
					margin-bottom: 5px;
					font-size: 24px;
				}

				a{
					display: inline-block;
					margin-top: 10px;
					padding: 5px 10px;
					background: #333;
					text-decoration: none;
					color: #fff;
				}
			}
		}

	}

}



/* @media (max-width:992px){
	.container {
		width: 100%;
		flex-direction: column;
		align-items: center;

		.card{
			width: 400px;
		}
	}
} */


/* @media(max-width:768px){
	body{
		background:red;
	}
	.container {

		.card{
			max-width: 300px;
			flex-direction: column;

			.imgBx{
				position: relative;
				width: 100%;
			}

			.imgBx,
			&:hover .imgBx{
				width: 100%;
				height: 200px;
				left: 0;
			}

			.content{
				position: relative;
				width: 100%;
			}

		}
	}
} */