*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

$primary : #0a2a43;

%psedo-element{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top ,$primary  , transparent);
}

body{
	background: $primary;
	min-height: 1500px;
}

section{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before{
		@extend %psedo-element;
		bottom: 0;
		z-index: 10000;
	}

	&::after{
		@extend %psedo-element;
		left: 0;
		top: 0;
		background: $primary;
		mix-blend-mode: color;
	}

	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
		/* transition: .2s ease all; */
	}

	#road{
		z-index: 10;
	}

	#text{
		position: relative;
		color: #fff;
		font-size: 10rem;
		z-index: 1;
	}
}