*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: consolas;
}

body{
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
	background: #0c0c0c;
}

a{
	position: relative;
	padding: 20px 50px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	width: 200px;
	align-self: center;
	overflow: hidden;

	&:hover .liquid{
		top: -120px;
	}

	span{
		position:relative;
		z-index: 1;
		color: #fff;
		font-size: 20px;
		letter-spacing: 8px;
	}

	.liquid{
		position: absolute;
		left: 0;
		top: -80px;
		width: 200px;
		height: 200px;
		background: #4973ff;
		box-shadow: inset 0 0 50px rgba(0,0,0,.5);
		transition: .5s;
		z-index: 0;

		&::before,
		&::after{

			content: '';
			position: absolute;
			width: 200%;
			height: 200%;
			top: 0;
			left: 50%;
			transform: translate(-50%, -75%);
		}

		&::before{
			border-radius: 45%;
			background: rgba(20,20,20,1);
			animation: animate 5s linear infinite;
		}

		&::after{
			border-radius: 40%;
			background: rgba(20,20,20,.5);
			animation: animate 10s linear infinite;
		}
	}

	@keyframes animate {
		0%{
			transform: translate(-50%, -75%) rotate(0deg);
		}

		100%{
			transform: translate(-50%, -75%) rotate(360deg);
		}
	}


}