
body{
	background: #262626;
	padding: 0;
	margin: 0;
	font-family: arial;
}

.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 10rem;
		color: rgba(255,255,255,.1);
		background-size: cover;
		background-repeat: repeat-x;
		background-clip: text;
		animation: water 15s linear infinite;

		@keyframes water {

			0%{
				background-position: left 0px top 80px;
			}

			40%{
				background-position: left 800px top -50px;
			}

			80%{
				background-position: left 1800px top -50px;
			}

			100%{
				background-position: left 2400px top 80px;
			}
		}
	}


}